SERVER_PORT=8081
SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_TIMEOUT=5000ms
MYSQL_ROOT_PASSWORD=change-me
MYSQL_DATABASE=leetcode
WORKER_COUNT=5
EXECUTION_TIMEOUT_SECONDS=10
EXECUTION_POLL_TIMEOUT_SECONDS=5
CXE_JAVA_RUNTIME_IMAGE=hrishabhjoshi/my-java-runtime:17
CXE_PYTHON_RUNTIME_IMAGE=hrishabhjoshi/python-runtime:3.9
CXE_DOCKER_MEMORY_LIMIT=256m
CXE_DOCKER_CPU_LIMIT=0.5
PROBLEM_SERVICE_URL=http://problem-service:8084
